<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>ED</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-left">
        <a href="/" class="nav-link">Encryption/Decryption</a>
        <a href="/middle_attack" class="nav-link">Meet-in-the-middle attack</a>
        <a href="/browse" class="nav-link">CBC</a>
      </div>
    </nav>
    <div class="total-container">
      <div class="left-container">
        <h2>Result</h2>
        {% if found_keys %}
        <p>Top 5 possible keys:</p>
        <ul>
          {% for key in found_keys[:5] %}
          <li>{{ key }}</li>
          {% endfor %}
        </ul>
        <p>Length of potential keys: {{ found_keys|length }}</p>
        {% endif %}
      </div>
      <div class="right-container">
        <form class="form" method="POST">
          <div class="logo">Meet-in-the-Middle Attack</div>
          <label class="label" for="known_plain_texts">Enter known plaintexts (separated by commas)</label>
          <input class="input" type="text" id="known_plain_texts" name="known_plain_texts" required></br></br>
          <label class="label" for="known_ciphers">Enter known ciphertexts (separated by commas)</label>
          <input class="input" type="text" id="known_ciphers" name="known_ciphers" required></br></br>
          <input class="input submit" type="submit" value="Run">
        </form>
      </div>
    </div>
    <footer class="footer">
      <p>Encryption and decryption algorithms are the guardians of the digital world, ensuring the security of information transmission.</p>
    </footer>
  </body>
</html>